
.movie-list {
  li {
    // border: solid black 1px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    img {
      // display: block;
      width: 100px;
    }
    .item-details-outer {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .item-details-inner {
      padding: 0 10px;
      font-size: 16px;
      a {
        text-decoration: none;
      }
      p {
        margin-top: 5px;
      }
    }
  }
}