
.movie-list {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax( 240px, 1fr));

  li {
    display: flex;
    justify-content: center;
  }
  
  // .movie-item
  .movie-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    // border: 1px solid black;
    border-radius: 5px;
    // box-shadow: 2px 2px 3px 1px rgba(206, 206, 206, 0.521);
    background-color: rgba(184, 184, 184, 0.466);
    width: 300px;
    
    img {
      width: 100px;
      border-radius: 5px;
      box-shadow: 2px 0px 4px 3px rgba(0, 0, 0, 0.2);
    }

    img.default-movie-image {
      width: 100px;
      border-radius: 50%;
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    }

    .item-details-outer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .item-details-inner {
      padding: 0 10px;
      font-size: 16px;
      text-align: center;

      a {
        text-decoration: none;
        font-size: 24px;
      }
      
      p {
        margin-top: 5px;
      }
    }
  }
}