.tmdb-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 40px;
  padding-top: 20px;
  min-width: 300px;
  
  .search-container {
    background-color: rgb(153, 152, 152);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    height: 40px;
    width: 160px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 20px auto;
  }

  .no-results {
    text-align: center;
    font-size: 20px;
    color: red;
    margin: 0 0 20px; 
  }

  form.tmdb-search-form {

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      text-align: center;
    }

    label.search-query-label {
      display: none;
    }

    input {
      display: block;
      margin: 0 auto 10px auto;
      border-radius: 5px;
      height: 40px;
      width: 200px;
      font-size: 16px;
      text-align: center;
    }

    input::placeholder {
      text-align: center;
      font-size: 16px;
      font-family: "Lato", sans-serif;
    }
    
    button {
      display: block;
      margin-top: 20px;
    }
  }

  .tmdb-search-results {
    margin-top: 30px;
    
    li {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      background-color: rgb(153, 152, 152);
      border-radius: 5px;
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
      min-width: 300px;
    }
    
    .result-image-outer {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    img {
      width: 100px;
      border-radius: 5px;
      margin-right: 10px;
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    }
    
    img.default-movie-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-left: 5px;
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    }
    
    .item-details-outer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .item-details-inner {
        padding: 20px;
        font-size: 24px;
        text-align: center;

        p {
          color: white;
          text-shadow: 1px 1px 4px rgb(51, 51, 51);
        }
  
        a {
          display: block;
          text-decoration: none;
          font-size: 16px;
          margin: auto;
        }
  
        .tmdb-item-buttons {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .tmdb-search {
    margin: 20px 0 40px;
    padding: 20px 10px 0;
  }
}