footer {
  flex-shrink: 0;
  background-color: gray;
  padding: 5px 0;

    a {
      text-decoration: none;
      font-weight: lighter;

      span {
        font-family: "Major Mono Display", sans-serif;
        font-weight: bold;
      }
    }
    
  p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
  }
}